https://zhuanlan.zhihu.com/p/610389867

https://image-engineering.de/content/products/equipment/measurement_devices/led_panel/data/LED-Panel_V5_manual.pdf